<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YakiSearch - YakiBot's Official Recipe Search App</title>
    <script src="../components/yakimenu.js" defer></script>
    <script src="../components/cardrecipe.js" defer></script>
    <script src="../components/search.js" defer></script>
  </head>
  <body>
    <yaki-menu></yaki-menu>
    <div class="banner">
      <search-menu></search-menu>
      <div class="bg"></div>
    </div>
  </body>
</html>
